<div class="container">
	<ul class="nav nav-tabs" id="videotab" role="tablist">
		<li class="nav-item ">
			<a class="nav-link active" id="v0" href='@Url.Action( "Index", "Videos", new { vf = "Across" })'>Across the Universe</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="v1" href='@Url.Action( "Index", "Videos", new { vf = "Music1" })' title="Music from the 1960's and 70's">Music</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="v2" href='@Url.Action( "Index", "Videos", new { vf = "Movies" })' title="Movies from the 1960's and 70's">Movies</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="v3" href='@Url.Action( "Index", "Videos", new { vf = "Comm" })' title="Commercials from the 1960's and 70's">Commercials</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="v4" href='@Url.Action( "Index", "Videos", new { vf = "Cartoon" })' title="Cartoons from the 1960's and 70's">Cartoons</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="v5" href='@Url.Action( "Index", "Videos", new { vf = "Tv" })' title="Television from the 1960's and 70's">Television</a>
		</li>
		@*<li class="nav-item">
			<a class="nav-link" id="v6" href='@Url.Action( "Index", "Video", new { vf = "pol" })'>Political</a>
		</li>*@
	</ul>
</div>

