<div class="container">
	<ul class="nav nav-tabs" id="phototab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="p0" href='@Url.Action( ViewBag.Title, "Photos", new { id = 0 })'>Default</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="p1" href='@Url.Action( ViewBag.Title, "Photos", new { id = 1 })'>Cameras</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="p2" href='@Url.Action( ViewBag.Title, "Photos", new { id = 2 })'>Cars</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="p3" href='@Url.Action( ViewBag.Title, "Photos", new { id = 3 })'>Ships</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="p4" href='@Url.Action( ViewBag.Title, "Photos", new { id = 4 })'>Ice Storm</a>
		</li>
	</ul>
</div>

